@charset "utf-8";
/* CSS Document 
Name: Alwin Singh
Student ID: 1935996
Class: DIT/FT/1A/01*/

/* @media screen and (min-width: 1024px) {
    .desktop-space {margin-left:10px;}
    } */

/* .modal-style {
    background-color: #111111;
    color: #C3C3C3;
    border: 1px solid #7717c9;
}

.close {
    color: #ffffff;
} */